<html xmlns:th="http://www.thymeleaf.org">
<!--
                                  _oo8oo_
                                 o8888888o
                                 88" . "88
                                 (| -_- |)
                                 0\  =  /0
                               ___/'==='\___
                             .' \\|     |// '.
                            / \\|||  :  |||// \
                           / _||||| -:- |||||_ \
                          |   | \\\  -  /// |   |
                          | \_|  ''\---/''  |_/ |
                          \  .-\__  '-'  __/-.  /
                        ___'. .'  /--.--\  '. .'___
                     ."" '<  '.___\_<|>_/___.'  >' "".
                    | | :  `- \`.:`\ _ /`:.`/ -`  : | |
                    \  \ `-.   \_ __\ /__ _/   .-` /  /
                =====`-.____`.___ \_____/ ___.`____.-`=====
                                  `=---=`

                              永不宕机--永无bug
               ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    th:insert   ：保留自己的主标签，保留th:fragment的主标签。
    th:replace ：不要自己的主标签，保留th:fragment的主标签。仅<head/body>不显示
    th:include ：保留自己的主标签，不要th:fragment的主标签。（官方3.0后不推荐）
 -->
<div th:value="angular">
    <link rel="stylesheet" th:fragment="angular" href="https://angularjs.org/css/angular.css"/>
    <script th:fragment="angular" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script th:fragment="angular-animate" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
</div>

<div th:value="art-template">
    <script th:fragment="art-template" th:src="@{/plugin/art-template.js}"></script>
</div>

<div th:value="bootstrap">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:fragment="bootstrap" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</div>

<div th:value="charts">
    <script th:fragment="charts" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <!--<script th:fragment="charts" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>-->
</div>

<div th:value="echarts">
    <script th:fragment="echarts" th:src="@{/plugin/echarts.js}"></script>
</div>

<div th:value="jquery">
    <script th:fragment="jquery" th:src="@{/plugin/jquery/jquery.js}"></script>
</div>

<div th:value="sweetalert2">
    <link rel="stylesheet" th:fragment="sweetalert2-animate" href="https://cdn.jsdelivr.net/npm/animate.css@3.6.1/animate.min.css"/>
    <link rel="stylesheet" th:fragment="sweetalert2-font-awesome" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"/>
    <!--<script th:fragment="sweetalert2" src="https://unpkg.com/sweetalert2@7.18.0/dist/sweetalert2.all.js"></script>-->
    <script th:fragment="sweetalert2" src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
</div>

<div th:value="template">
    <script th:fragment="template" th:src="@{/plugin/template.js}"></script>
</div>

<div th:value="vue">
    <script th:fragment="vue" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script th:fragment="vue" src="https://cdn.jsdelivr.net/npm/vue"></script>-->
</div>
</html>
