<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <import th:replace="common/plugin :: bootstrap"/>
    <link rel="stylesheet" th:href="@{/css/ace.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/iCheck/custom.css}"/>
    <script th:src="@{/plugin/ajax/ajax.1.7.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <import th:replace="common/plugin :: sweetalert2"/>
    <import th:replace="common/plugin :: sweetalert2-animate"/>
    <import th:replace="common/plugin :: sweetalert2-font-awesome"/>
    <import th:replace="common/plugin :: jquery"/>
    <!--<import th:replace="common/plugin :: vue"/>-->

    <script th:src="@{/plugin/iCheck/icheck.min.js}"></script>
    <script th:src="@{/plugin/lyGrid/common/CommonUtil.js}"></script>
    <script th:src="@{/plugin/jquery/underscore.js}"></script>
    <script th:src="@{/plugin/lyGrid/common/lyGrid.min.js}"></script>
    <script th:src="@{/plugin/lyGrid/common/base64.js}"></script>
    <script th:src="@{/plugin/lyGrid/common/jquery.serializejson.min.js}"></script>
    <!--<script th:src="@{/plugin/lyGrid/table-data.js}"></script>-->
    <script th:src="@{/js/user/index.js}"></script>
    <style type="text/css">
        .add-user {
            margin-top: 15px;
        }

        .add-user label {
            margin-top: 10px;
        }

        input[type='search'] {
            width: calc(40%);
        }
    </style>
</head>
<body>
<div style="height:80px;border:3px solid  peru;border-radius: 10px"></div>
<div class="page-content" style="padding: 0px;">
    <div class="nav">
        <input type="search"/>
        <button class="btn btn-info search-btn">搜索</button>
        <button class="btn btn-success export">导出</button>
        <button class="btn btn-bold input-lg add">添加</button>
    </div>
    <div id="paging"></div>
</div>
</div>
<script id="addDiv" type="text/html">
    <form class="add-user" method="post" th:action="@{/user/add}">
        <label>昵&nbsp;&nbsp;&nbsp;称：<input name="name" placeholder="请输入昵称" type="text"/></label>
        <label>用户名：<input name="userName" placeholder="请输入用户名" type="text"/></label>
        <label>邮&nbsp;&nbsp;&nbsp;箱：<input placeholder="请输入邮箱" type="email"/></label>
        <label>头&nbsp;&nbsp;&nbsp;像：<img id="ava" width="150px" height="150px">
            <input type="file" accept="image/*" onchange="ConvertToBase64Img(event)" class="hidden avatar"/></label>
        <label>身份证：<input placeholder="请输入邮箱" type="email"/></label>
        <label>邮&nbsp;&nbsp;&nbsp;箱：<input placeholder="请输入邮箱" type="email"/></label>
    </form>
</script>
</body>
</html>

